{% extends "account/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'account/css/change_password.css' %}">
{% endblock css %}
{% block header %}
<header>
    <div>
        <a href="javascript:history.back()"><i class="bi bi-chevron-left"></i></a>
    </div>

    <div class="title">
        Change the login password
    </div>

    <div></div>
</header>
{% endblock header %}
{% block content %}
<div class="change-password">
    <div class="container">
        <form id="changePasswordForm" class="chg-pw-form" method="post">
            {% csrf_token %}
            <div class="password-group">
                <label for="originalPassword" class="form-label"><i class="bi bi-shield-lock-fill"></i> Original Login Password</label>
                <input type="password" class="form-control" placeholder="Password" id="originalPassword">
                <span class="bi bi-eye-slash-fill toggle-password toggle-password-original"></span>
            </div>
      


            <div class="mt-5 password-group">
                <label for="newPassword" class="form-label"><i class="bi bi-shield-lock-fill"></i> New Login Password</label>
                <input type="password" class="form-control" placeholder="Password" id="newPassword">
                <span class="bi bi-eye-slash-fill toggle-password toggle-password-new"></span>
            </div>
            <div id="passwordStrengthNew" class="password-strength mt-2">
                <span class="badge one me-1"></span>
                <span class="badge two me-1"></span>
                <span class="badge three me-1"></span>
            </div>



            <div class="mt-5 password-group">
                <label for="confirmPassword" class="form-label"><i class="bi bi-shield-lock-fill"></i> Confirm Login Password</label>
                <input type="password" class="form-control" placeholder="Password" id="confirmPassword">
                <span class="bi bi-eye-slash-fill toggle-password toggle-password-confirm"></span>
            </div>


            <button type="submit" class="btn submit-btn w-100 p-3 mt-5">Save changes</button>
            <p class="text-center pt-1">
                <small>Forgot your account password? <a class="sign_up_link" href="{% url 'reset_password' %}">Reset</a></small>
            </p>
        </form>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'account/js/change_password.js' %}"></script>
{% endblock scripts %}