header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #333;
}


header i {
    color: black;
}

header .title {
    font-size: 17px;
    font-weight: 500;
}


.chg-pw-form {
    margin-bottom: 6rem;
}

.form-control {
    border: none !important;
    border-radius: 0;
    background: transparent;
    border-bottom: 2px solid #55208a !important;
    padding: 10px;
}


.form-control:focus {
    color: var(--bs-body-color);
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: none
}

.change-password {
    margin-top: 3rem;
}


.password-strength {
    display: none;
}

.password-strength .badge {
    display: block;
    width: 25px !important;
    background-color: #98989a;
    transition: all 0.3s linear;
}

.password-strength .badge.one.checked {
    background-color: rgba(136, 100, 174, 0.7) !important;
}

.password-strength .badge.two.checked {
    background-color: rgb(136, 100, 174) !important;
}


.password-strength .badge.three.checked {
    background-color: rgb(94, 58, 133) !important;
}

.password-group {
    position: relative;
}

.toggle-password, .toggle-password {
    position: absolute;
    display: block;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    color: #55208a;
    font-size: 20px;
}

label i {
    color: #744da0;
}


.submit-btn {
    background: linear-gradient(to right, #744da0, #55208a);
    color: #eceff4;
    font-size: 16px;
    font-weight: 500;
}


.submit-btn:hover {
    color: #ffffff;
}

.submit-btn:active, .submit-btn:focus {
    color: #eceff4 !important;
}


.sign_up_link {
    text-decoration: none;
    color: #55208a;
}