.header-text-container::after {
    content: "";
    background: none;
}


.reset-password {
    margin-bottom: 6rem !important;
}


.nav-link {
    color: #744da0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #55208a;
}

.nav-link:focus, .nav-link:hover {
    color: #744da0;
}


.form-control {
    border: none !important;
    border-radius: 0;
    background: transparent;
    border-bottom: 2px solid #55208a !important;
    padding: 10px;
}


.toggle-password, .toggle-password {
    position: absolute;
    display: block;
    cursor: pointer;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    color: #55208a;
    font-size: 20px;
}


.form-control:focus {
    color: var(--bs-body-color);
    background-color: transparent;
    border-color: transparent;
    outline: 0;
    box-shadow: none
}


.verification-code {
    position: relative;
}


#vrcodeHelp {
    display: none;
}

.send-vrcode {
    position: absolute;
    top: 36.5px;
    right: 5px;
    z-index: 100;
    background: linear-gradient(to bottom, #55208a, #744da0);
    width: 70px;
    height: 30px;
    color: #fff;
    padding: 5px 20px;
    font-size: 13px;
    border: none;
    border-radius: 20px;
}

.phone-input {
    border: none !important;
    border-radius: 0;
    background: transparent;
    border-bottom: 2px solid #55208a !important;
    padding: 10px 10px 10px 0;
    
}

.phone-input input {
    border: none !important;
    padding: 0;
}

.input-phone-select {
    cursor: pointer;
    padding-right: 10px;
    margin-right: 10px;
}



.submit-btn {
    background: linear-gradient(to right, #744da0, #55208a);
    color: #eceff4;
    font-size: 16px;
    font-weight: 500;
}


.submit-btn:hover {
    color: #ffffff;
}

.submit-btn:active, .submit-btn:focus {
    color: #eceff4 !important;
}

.sign_up_link, .cs-link {
    text-decoration: none;
    color: #55208a;
}

.password-strength {
    display: none;
}

.password-strength .badge {
    display: block;
    width: 25px !important;
    background-color: #98989a;
    transition: all 0.3s linear;
}

.password-strength .badge.one.checked {
    background-color: rgba(136, 100, 174, 0.7) !important;
}

.password-strength .badge.two.checked {
    background-color: rgb(136, 100, 174) !important;
}


.password-strength .badge.three.checked {
    background-color: rgb(94, 58, 133) !important;
}

.password-group {
    position: relative;
}


.country-code-search {
    border: 1px solid rgb(134,144,156);
    padding: 0 10px 0 10px;
    border-radius: 12px;
    height: 40px;
}


.btn-close:active, .btn-close:focus {
    box-shadow: none !important;
}


.country-code-search input {
    border: none;
    margin-left: 10px;
}


.country-code-search input:active, .country-code-search input:focus {
    border: none;
    outline: none;
}

.country-code-list {
    padding: 0;
}

.country-code-list li {
    cursor: pointer;
    padding: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #98989a;
    display: flex;
    align-items: center;
    transition: 0.3s;
}


.country-code-list li:hover {
    background-color: #eceff4;
}

.country-code-list li .italic {
    font-size: 12px !important;
}


.country-code-list .selected {
    color: #55208a;
}

.country-code-list .selected .bi-check-circle-fill {
    color: #744da0;
}

.checkbox {
    border-radius: 50% !important;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    --bs-btn-color: #744da0;
    --bs-btn-border-color: #744da0;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #744da0;
    --bs-btn-hover-border-color: #744da0;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #744da0;
    --bs-btn-active-border-color: #744da0;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #744da0;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #744da0;
    --bs-gradient: none;
}


.checkbox i {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:370px) {
    .form-control {
        font-size: 14px;
    }
}